<div class="grid grid-cols-2 md:grid-cols-4 gap-4 xl:gap-10 my-4">
  <div><img src="/img/4/24h-telefonisch-erreichbar1.jpg" alt="24/7 telefonisch erreichbar" width="242" height="341" class="w-auto mx-auto" loading="lazy"/></div>
  <div><img src="/img/4/kostenlose-besichtigung-entruempelung1.jpg" alt="Kostenlose Besichtigung" width="242" height="341" class="w-auto mx-auto" loading="lazy"/></div>
  <div><img src="/img/4/termine-sofort-verfuegbar1.jpg" alt="Termine sofort verfügbar" width="242" height="341" class="w-auto mx-auto" loading="lazy"/></div>
  <div><img src="/img/4/besenreine-uebergabe1.jpg" alt="besenreine übergabe" width="242" height="341" class="w-auto mx-auto" loading="lazy"/></div>
</div>