<div class="bg-white p-8 rounded-2xl border border-forest-border">
  <div class="text-center">
    <h3 class="text-coral">Wir freuen uns auf Ihre Anfrage!</h3>
    <p class="text-coral text-2xl">NEUNKIRCHEN & ÖSTERREICHWEIT</p>
  </div>
  <form id="angebotForm" method="POST" action="https://contact.visiopartners.at/?endpoint={{ site.domain }}" data-recaptcha="6LeEkkItAAAAABchkQTMj1YPL3DzfTjr_-bm7f_7">

    <input class="p-3 mb-4 w-full rounded-xl bg-white text-cream placeholder:text-gray-400 text-gray-600 border-2 border-solid border-coral-border focus:border-coral focus:outline-none focus:ring-0" type="text" name="name" placeholder="Name *" required="" aria-required="true">

    <input class="p-3 mb-4 w-full rounded-xl bg-white text-cream placeholder:text-gray-400 text-gray-600 border-2 border-coral-border focus:border-coral focus:outline-none focus:ring-0" type="text" name="tel" placeholder="Rückrufnummer *" required="" aria-required="true">
    <input class="p-3 mb-4 w-full rounded-xl bg-white text-cream placeholder:text-gray-400 text-gray-600 border-2 border-coral-border focus:border-coral focus:outline-none focus:ring-0" type="text" name="adresse" placeholder="Adresse">

    <select class="p-3 mb-4 w-full rounded-xl bg-white text-cream placeholder:text-gray-400 text-gray-600 border-2 border-coral-border focus:border-coral focus:outline-none focus:ring-0" aria-label="Service" name="service">
      <option value="">Service</option>
      <option>Wohnungsräumung</option>
      <option>Haushaltsauflösung</option>
      <option>Verlassenschaftsräumung</option>
      <option>Messie-Räumung</option>
      <option>Kellerentrümpelung</option>
      <option>Dachbodenräumung</option>
      <option>Gewerberäumung</option>
      <option>Sonstige Anfrage</option>
    </select>

    <textarea class="p-3 mb-4 w-full rounded-xl bg-white text-cream placeholder:text-gray-400 text-gray-600 border-2 border-coral-border focus:border-coral focus:outline-none focus:ring-0" aria-label="Nachricht"name="msg" placeholder="Nachricht"></textarea>

    <div class="my-4 text-base">
      <label class="tos"><input type="checkbox" name="tos" value="1" required="" class="accent-coral h-4 w-4 mr-2 align-middle" aria-required="true"/>
      Ich stimme der <a class="underline" href="/datenschutzerklaerung/">Datenschutzerklärung</a> zu.</label>
    </div>

    <button type="submit" class="cursor-pointer block w-full sm:w-80 p-3 md:px-6 py-3 pr-8 font-bold rounded-full bg-coral border-2 border-coral text-white hover:bg-white hover:text-coral">
      <span class="flex items-center gap-2">
        <span class="invisible w-6 h-6" role="status">{% include "svg/loading-spin.svg" %}</span>
        <span>Angebot anfordern</span>
      </span>
    </button>

    <template id="danger-response-template">
      <div class="bg-red-100 border-t-4 border-b-4 border-red-400 text-red-700 p-2 mt-4 text-left">
        <div class="flex items-center gap-2">
          <div class="h-14 w-14 shrink-0">{% include "svg/warning.svg" %}</div>
          <div>
            <p class="font-bold mb-1">Es ist ein Fehler aufgetreten.</p>
            <p class="m-0" role="alert">.</p>
          </div>
        </div>
      </div>
    </template>

    <div class="response"></div>
  </form>
</div>