<header class="sticky top-0 z-50 text-coral">
  <div class="bg-cream py-3">
    <div class="container">

      <nav class="sm:flex flex-wrap items-center justify-between text-center sm:text-left">

        <a href="/" class="block no-underline mb-4 sm:mb-0">
          <span>{{ site.name }}</span>
          <span class="block text-charcoal">{{ site.logo2 }}</span>
        </a>


        <a class="inline-block w-80 sm:w-auto px-6 py-1 max-w-sm font-bold rounded-xl border border-coral text-coral shadow-lg hover:bg-coral hover:text-cream" href="{{ site.telLink }}">
          <span class="flex items-center justify-center gap-2">
            <span class="h-8 w-8 shrink-0">{% include "svg/telefon24.svg" %}</span>
            <span>{{ site.tel }}</span>
          </span>
        </a>

      </nav>

    </div>
  </div>
</header>