---
eleventyExcludeFromCollections: true
title: "Vielen Dank für Ihre Anfrage!"
description: "Vielen Dank für Ihre Anfrage!"
layout: default
---

<section class="min-h-screen flex items-center text-center text-green-700">
	<div class="container">
		<h1 class="my-4 text-3xl font-bold md:text-6xl">Vielen Dank</h1>
		<p class="my-4 text-3xl font-bold md:text-6xl">für Ihre Anfrage!</p>
		<div class="w-72 h-72 mx-auto">{% include "svg/assignment_turned_in_FILL0_wght400_GRAD0_opsz24.svg" %}</div>
	</div>
</section>