<div class="bg-black/30 pt-4 pb-16 lg:pb-4 text-base text-center sm:text-left">
  <div class="container">
    <div class="sm:flex flex-wrap items-center justify-between">
      <p class="my-2">
        <a href="/impressum/">Impressum</a> | <a href="/datenschutzerklaerung/">Datenschutzerklärung | <a href="/sitemap/">Sitemap</a>
      </p>
      <p class="my-2">Copyright {{ 'yyyy' | now }} {{ site.name }}</p>
    </div>
  </div>
</div>