<div class="absolute inset-x-0 -top-16 mx-auto w-52 flex items-center gap-3 justify-center">
  <a href="{{ site.telLink }}" class="text-white border-2 border-forest-border bg-forest hover:bg-mint rounded-full p-3 shadow-lg" title="Anrufen">
    <span class="block h-8 w-8">{% include "svg/telefon24.svg" %}</span>
  </a>

  <a href="{{ site.waLink }}" class="text-white border-2 border-forest-border bg-forest hover:bg-mint rounded-full p-3 shadow-lg" title="Whatsapp">
    <span class="block h-8 w-8">{% include "svg/whatsapp.svg" %}</span>
  </a>

  <a href="/kontakt/" class="text-white border-2 border-forest-border bg-forest hover:bg-mint rounded-full p-3 shadow-lg" title="Mail">
    <span class="block h-8 w-8">{% include "svg/mail.svg" %}</span>
  </a>
</div>
