<a class="inline-block w-80 mx-auto px-2 md:px-6 py-3 font-bold rounded-full shadow-lg border-2 border-coral bg-coral text-cream transition-all duration-200 hover:border-white hover:bg-white hover:text-coral" href="/kontakt/">
  <span class="flex items-center gap-2 ">
    <span class="h-8 w-8 shrink-0">{% include "svg/anfrage.svg" %}</span>
    <span class="w-full">Angebot anfordern!</span>
  </span>
</a>