---
eleventyExcludeFromCollections: true
title: 404 - Seite nicht gefunden
layout: default
permalink: 404.html
---

<section class="container py-20 xl:py-60 text-center">
  <h1 class="my-8 text-3xl font-bold leading-tight md:text-5xl">Fehler 404 🤷</h1>
  <p class="my-8 text-base leading-normal md:text-2xl">Entschuldigung, wir konnten diese Seite nicht finden.</p>
  <a rel="noopener noreferrer" href="{{ '/' | url }}" class="px-8 py-3 font-semibold text-white bg-blue rounded">Zurück zur Startseite</a>
</section>