---
title: "Datenschutzerklärung"
description: "Datenschutzerklärung"
layout: default
eleventyExcludeFromCollections: true
---

<section class="text-center md:text-left py-10">
	<div class="container max-w-5xl">
		<h1>Datenschutzerklärung</h1>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</section>