---
title: "Impressum"
description: "von ENTRÜMPELUNG EASY"
layout: default
date: 2024-05-10
---

<section>
  <div class="container py-4">
    <h1 class="font-bold text-forest my-4 text-3xl lg:text-4xl">Impressum</h1>

    <div class="grid xl:grid-cols-2 gap-4">
      <div>

        <p>Offenbarung gem. §25 MedG.</p>

		<p>
      von ENTRÜMPELUNG EASY<br/>
      DC Tower 30. Stock, Donau-City-Straße 7<br/>
      A-1220 Wien/Österreich
    </p>

		<p><b class="text-forest">Standorte:</b> Wien, Burgenland, Niederösterreich, Oberösterreich, Salzburg, Steiermark, Kärnten, Tirol, Vorarlberg</p>

		<p><b class="text-forest">UID:</b> ATU 67953217</p>
		<p><b class="text-forest">Tel:</b> {{ site.tel }}</p>
		<p><b class="text-forest">E-Mail:</b> {{ site.mail }}</p>

		<p><b class="text-forest">Fachgruppe / Berufszweig:</b> FG Kleintransporteure, Kleintransportgewerbe - mit unbeschränkter KFZ-Anzahl</p>

		<p><b class="text-forest">Behörde gem. ECG (E-Commerce Gesetz):</b> Magistratisches Bezirksamt des XX. Bezirkes</p>

		<p><a href="https://firmen.wko.at/ibrahim-yücel/wien/?firmaid=56da1437-9c37-4752-b816-4a52b7057f44" target="_blank">WKO.at</a></p>

      </div>
      <div>{% include "angebot-form.njk" %}</div>
    </div>
  </div>
</section>